  
  .gametitle{
    width: 500px;
    height: 100px;
    line-height: 100px;
    margin: 0px auto 0px auto;
    padding: 100px 0px 60px 0px;
    color:black;
    font-size: 80px;
    font-weight: 800;
  }
    
  .signup_title{
    font-size: 36px;
    font-weight: 700;
  }

  .signin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0px;
    padding: 0px;
  }
  
  .signin__input{
    margin: 10px 0px 5px 0px;
    padding: 0px 0px 0px 5px;
    height: 35px;
    font-size: 25px;
    border: 3px black solid;
  }
  

  .button__type1{
    display: block;
    width: 300px;
    height: 60px;
    margin: 40px auto 30px auto;
    border: 3px black solid;
    border-radius: 30px;
    font-size: 36px;
    font-weight: 600;
    -webkit-text-stroke: 1px black;
    color: white;
    background-color: rgba(190, 239, 240, 1);
  }

  .signin__petposition--1{
    position: absolute;
    bottom: 70px;
    left: 10%;
    transform: translateX(-50%); /* 使用 transform 來水平居中 */
    width: 400px;
    height: 400px;
  }

  .signin__petposition--2{
    position: absolute;
    bottom: 80px;
    left: 15%;
    transform: translateX(-50%); /* 使用 transform 來水平居中 */
    width: 300px;
    height: 300px;
  }

  .signin__petposition--3{
    position: absolute;
    bottom: 40px;
    left: 23%;
    transform: translateX(-50%); /* 使用 transform 來水平居中 */
    width: 500px;
    height: 500px;
  }

  .signin__petposition--6{
    position: absolute;
    bottom: 120px;
    left: 75%;
    transform: translateX(-50%); /* 使用 transform 來水平居中 */
    width: 300px;
    height: 300px;
  }

  .signin__petposition--4{
    position: absolute;
    bottom: 50px;
    left: 80%;
    transform: translateX(-50%); /* 使用 transform 來水平居中 */
    width: 500px;
    height: 500px;
  }

  .signin__petposition--5{
    position: absolute;
    bottom: 140px;
    left: 70%;
    transform: translateX(-50%); /* 使用 transform 來水平居中 */
    width: 150px;
    height: 150px;
  }

